@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao PowerEmbedded</h1>
    <p>Aqui você pode acessar relatórios do PowerBI sem precisar acessar o PowerBI diretamente</p>
</div>
